@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-color: #E8E9EB;;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.labels{
  background-color: white;
  margin: 10px;
  height: 20vh;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.items{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.labels .labelItem{
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
  border: gray solid 1px;
  border-radius: 25%/45%;
  text-align: center;
  width:fit-content;
  height: fit-content;
  
}
.labels .labelItem:hover{
  border: skyblue solid 2px;
}